.contenedor-info{
    width: 100vw;
    height: 150px;
    color: rgb(218, 133, 7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-info h2{
    font-size: 30px;
    text-decoration: underline 3px;
}

/* en esta parte modifico el contenedor principal de la INFO de los servicios */

.info-servicios{
     text-align: center;
     align-items: center;
    justify-content: center;
}

.info-servicios img{
    width: 80px;
    
}

