.profecionales {
  margin-top: 100px;
  text-align: center;


}

.banner-profecionales{
  height: 200px;
  background-image: url(../../assets/equipo.jpg);
  background-position: center;
  background-size: cover;
}

.profecionales h2 {

  margin-bottom: 40px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  text-decoration: underline 2px #FF9226;
}


.cards {
  margin-top: 10px;
  width: 200px;
  height: 350px;
  border-radius: 10px;
  background-color: #FFF;

}

.cards img {
  margin-top: 30px;
  width: 120px;
  height: 120px;
  border-radius: 500px;
  border: 5px double #FF9226;

}


.cards h3 {
  padding-top: 40px;
  font-family: 'Cinzel', serif;
 
}

.cards button {
  font-size: 14px;
  font-family: 'Cinzel', serif;
  border: 5px double #ff9226;
  background: #fff;
  font-weight: bolder;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}

.keen-slider__slide {
  display: flex;
  justify-content: center;
}

.keen-slider {
  height: auto;
  
  padding-bottom: 12px;
}