.servicios-contenedor {
    background: rgba(83, 82, 82, 0.699);

}

.contenedor-serv {
    margin-top: 20px;
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardss-contenedor {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    margin-left: 20px;

}

.cards-home {
    width: 100%;
    height: 100%;
}


.imagen {
    width: 100%;
    height: 450px;

}

.boton-servicios {

    width: 100%;
    background-color: black;
    text-align: center;
}


@media (max-width: 804px) {
    .servicios-contenedor {
        background: rgba(83, 82, 82, 0.699);
        width: 100%;


    }

    .contenedor-serv {
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    .cardss-contenedor {
        height: 500px;
        margin-top: 20px;
    }

    .cards-home {
        width: 100%;
        height: 100%;
    }

    .boton-servicios {
        width: 100%;

        background-color: black;
        text-align: center;
        align-items: center;
    }


}