/* .servicios-contenedor {
    background: rgba(83, 82, 82, 0.699);

}

.contenedor-serv {
    margin-top: 20px;
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardss-contenedor {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    margin-left: 20px;

}

.cards-home {
    width: 100%;
    height: 100%;
}


.imagen {
    width: 100%;
    height: 450px;

}

.boton-servicios {

    width: 100%;
    background-color: black;
    text-align: center;
}


@media (max-width: 804px) {
    .servicios-contenedor {
        background: rgba(83, 82, 82, 0.699);
        width: 100%;


    }

    .contenedor-serv {
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    .cardss-contenedor {
        height: 500px;
        margin-top: 20px;
    }

    .cards-home {
        width: 100%;
        height: 100%;
    }

    .boton-servicios {
        width: 100%;

        background-color: black;
        text-align: center;
        align-items: center;
    }


} */

.servicios-contenedor {
    background: rgba(154, 153, 153, 0.546);
    width: 100%;


}


@media screen and (min-width: 481px) and (max-width: 768px) {

    .servicios-contenedor {
        height: auto;
        background-color: rgba(174, 177, 177, 0.341);
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;
       

    }

   
    .cards-home {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        width:45%;
        height: 350px;
        border-radius: 10px;
        background-color: #fff;
       

    }
    .cards-home img {
        width: 100%;
        height: 250px;
        

    }

    .cards-home p {
        font-size: 15px;
       
        margin-top: 10px;
        font-family: 'Cinzel', serif;
        font-weight: bold;
    }
    .boton-servicios button {
        font-family: 'Cinzel', serif;
        font-size: 12px;
        border: none;
        background: rgb(255, 197, 140);
        background: linear-gradient(71deg, rgba(255, 197, 140, 0.9808298319327731) 16%, rgba(255, 146, 38, 1) 47%);
        border-radius: 5px;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 10px;
        margin-left: 40px;
        

    }

    .boton-servicios button:hover {

        background-color: aqua;
    }


}




@media screen and (max-width: 480px) {
    .servicios-contenedor {
        background-color: rgba(174, 177, 177, 0.341);
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .contenedor-serv {
        width: 100%;
        display: flex;
        flex-direction: column;

    }


    .cards-home {
        margin: 0 auto;
        width: 80%;
        height: 452px;
        border-radius: 10px;
        margin-bottom: 90px;

    }

    .cards-home img {
        width: 100%;
        height: 300px;

    }

    .cards-home p {
        font-size: 35px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Cinzel', serif;
        font-weight: bold;
    }

    .boton-servicios {
        width: 100%;
        text-align: center;
        margin-top: 12px;

    }

    .boton-servicios button {
        font-family: 'Cinzel', serif;
        border: none;
        background: rgb(255, 197, 140);
        background: linear-gradient(71deg, rgba(255, 197, 140, 0.9808298319327731) 16%, rgba(255, 146, 38, 1) 47%);
        border-radius: 5px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

    }

    .boton-servicios button:hover {

        background-color: aqua;
    }


}
