.creacion{
    margin-top: 90px;
    height: 400px;
}


.input-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.boton-input{
 margin-bottom: 10px;
 position: relative;
 width: 100%;
 height: 30px;
 background-color: blueviolet;

}

.file{
position:absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
width: 100%;
height: 100%;
opacity: 0;
}



.boton-submit{
    margin-top: 20px;
    background-color: rgb(250, 72, 72);
    border-radius: 20px;
    border: none;
    width: 100%;
    color: #fff;

}