.footer {

    margin-top: 100px;
    width: 100%;

    font-family: 'EB Garamond', serif;
    color: azure;
    background-color: #000000e8;
}

.footer-2 {

    margin-top: 20px;
}

.footer-contenedor {}

.footer h5 {
    text-align: start;
}

.footer ul {
    padding: 0
}

.footer li {
    list-style: none;
    text-align: start;
}

.categorias button {
    margin-top: 3px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px double #C99E10;
    color: #fff;

}

.categorias button:hover {
    background-color: #C99E10;
    color: #fff;
    filter: drop-shadow(0px 0px 16px #fefcf5);


}

.footer-redes {
    font-size: 25px;
}

.foote-redes button {
    background-color: transparent;
    color: #fff;
    border: none;
}

.icon button:hover {

    text-align: center;
    color: #C99E10;
    transform: scale(2.0);
    filter: drop-shadow(0px 0px 16px #fefcf5)
}

.copyright {
    text-align: center;
}


/*media querys */

@media screen and (min-width: 768px) and (max-width: 1921px) {
    .contenedor-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-miradas {
        width: 25%;
        height: 150px;

        text-align: center;
    }
    .footer-miradas h5 {
        text-align: center;
        margin-top: 20px;
    }






    .footer-privacidad {
      display: none;
    }

   
   
    .copyright {
        width: 100%;
        text-align: center;
        
    }
    
    .footer-categorias {
        width: 25%;
    }

    .footer-categorias h5 {
        text-align: center;
        margin-top: 20px;
    }

    .footer-categorias ul {
        width: 100%;
        display: flex;
    }

    .footer-categorias li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-categorias button {
        width: 70px;
        color: #fff;
        background: transparent;
        border: 5px double #C99E10;
        margin-top: 10px;
        font-size: 10px;


    }

    .footer-categorias button:hover {
        text-align: center;
        color: #fff;
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 16px #fefcf5)
    }



  
  

    .footer-redes h5 {
        text-align: center;
    }

    .footer-redes {
        width: 25%;
        margin-top: 20px;
    }

    .redes {
        
        align-items: center;
    }

    .footer-redes ul {

        width: 100%;
        display: flex;
        justify-content: center;




    }

    .footer-redes li {
  
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .footer-redes button {


        border: none;
        border-radius: 5px;
        margin-top: 5px;

        color: #fff;
        background-color: transparent;
    }

    .icon button:hover {



        transform: scale(1.2);

    }

    .footer-ubicacion {
      margin-top: 20px;
    }


    
}

@media screen and (min-width: 491px) and (max-width: 768px) {

    .contenedor-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .footer-miradas {
        width: 50%;
        height: 150px;

        text-align: center;
    }

    .footer-miradas h5 {
        text-align: center;
        margin-top: 20px;
    }


    .footer-categorias {
        width: 50%;
    }

    .footer-categorias h5 {
        text-align: center;
        margin-top: 20px;
    }

    .footer-categorias ul {
        width: 100%;
        display: flex;
    }

    .footer-categorias li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-categorias button {
        width: 70px;
        color: #fff;
        background: transparent;
        border: 5px double #C99E10;
        margin-top: 10px;
        font-size: 10px;


    }

    .footer-categorias button:hover {
        text-align: center;
        color: #fff;
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 16px #fefcf5)
    }



    .footer-privacidad {
        width: 50%;
        text-align: center;
    }

    .footer-privacidad h5 {
        margin-top: 10px;
        text-align: center;
    }

    .footer-redes h5 {
        text-align: center;
    }

    .footer-redes {
        width: 50%;
    }

    .redes {
        align-items: center;
    }

    .footer-redes ul {

        width: 100%;
        display: flex;
        justify-content: space-between;




    }

    .footer-redes li {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .footer-redes button {


        border: none;
        border-radius: 5px;
        margin-top: 5px;

        color: #fff;
        background-color: transparent;
    }

    .icon button:hover {



        transform: scale(1.2);

    }

    .footer-ubicacion {
        display: none;
    }

    .copyright {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }



}

@media screen and (max-width: 480px) {

    .contenedor-footer h5 {
        font-family: 'Cinzel', serif;
        text-align: center;
    }

    .footer-miradas h5 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .footer-miradas p {
        display: none;
    }

    .footer-categorias {
        width: 100%;
    }

    .footer-categorias h5 {
        text-align: center;
    }

    .footer-categorias ul {
        width: 100%;
    }

    .footer-categorias li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-categorias button {
        width: 100px;
        color: #fff;
        background: transparent;

        border: 5px double #C99E10;
        margin-top: 10px;


    }

    .footer-categorias button:hover {
        text-align: center;
        color: #fff;
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 16px #fefcf5)
    }

    .footer-privacidad {
        display: none;
    }

    .footer-redes {
        padding-top: 10px;
        padding-bottom: 50px;
        width: 100%;
        justify-content: center;
    }

    .footer-redes ul {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;



    }

    .footer-redes li {
        width: 10%;
        display: flex;
        justify-content: center;

    }

    .footer-redes button {

        justify-content: center;
        border: none;
        border-radius: 5px;
        margin-top: 5px;

        color: #fff;
        background-color: transparent;
    }







}